* {
    scroll-behavior: smooth;
}

.carousel-pg,
.movie-pg,
.about-pg,
.blog-pg,
.contact-pg {
    padding-top: 56px;
    height: 100vh;
    max-height: 100vh;
}

.img-fluid {
    max-width: 100%;
    max-height: 250px;
}

.carousel-item {
    height: 550px;
}

.carousel-content {
    width: inherit;
    height: inherit;
    padding: 0 100px;
    align-items: center;
}

.carousel-content img {
    width: auto;
    height: 240px;
}

.carousel-content .text {
    width: 60%;
    color: white;
}

.carousel-control-prev {
    left: -40px;
}

.carousel-control-next {
    right: -40px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: auto;
}

.card-grid .card {
    height: 450px;
    width: 198px;
    /* max-width: 100%; */
    font-size: 14px;
    margin-bottom: 1.5rem;
}

.card-grid .card img {
    height: 60%;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;
}

.about-pg-wrapper {
    height: calc(100vh - 56px);
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../img/curtain.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-left {
    margin-left: 100px;
    height: inherit;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*background: linear-gradient( rgba(32, 24, 24, 1), rgba(0, 0, 0, 0.4));*/
}

.text-left h3 {
    margin-left: 15px;
}

.text-left p {
    margin-left: 15px;
    margin-right: 15px;
}

.contact-form {
    margin: auto;
    width: 70%;
    height: 420px;
    display: flex;
    /* overflow: hidden; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-box {
    width: 70%;
    padding: 12px;
}

.left-box form {
    width: 90%;
    margin: auto;
}

.right-box {
    width: 40%;
    padding: 12px 25px;
    color: white;
}

.contacts {
    height: 30px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.contacts p {
    margin-bottom: 0;
}

.contacts i {
    margin-right: 10px;
    font-size: 20px;
}

.footer {
    color: white;
    height: 100px;
    background-color: grey;
    margin-top: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-h {
    background-color: black;
}

#blog-section .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

#blog-section .card-wrapper .card img {
    width:100%;
    height:45%;
    object-fit:cover;
    object-position:50% 50%;
}

#blog-section .card-wrapper .card {
    height: 410px;
}

.blog-grid .card img {
    height: 215px;
}

.grid-blog {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 1.3rem;
}

.grid-blog .left-content {
    height: fit-content;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-blog .left-content img {
    width:100%;
    object-fit:cover;
    object-position:50% 50%;
}

/* --------------------- */
.booking-page-form {
    /* background-color: yellow; */
    width: 50%;
    margin: 2% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 50px;
    margin-top: 80px;
}

.booking-page-form .mv-desc {
    height: 215px;
}

.booking-page-form .left-desc {
    width: 25%;
}

.booking-page-form .right-desc {
    width: 75%;
    padding: 18px;
}

.booking-page-form img {
    width: 100%;
    height: 100%;
}

.form-wrap {
    width: 400px;
    padding: 40px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    width: 100%;
    height: 170px;
}

.icons {
    height: 70%;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.icons i {
    margin: 0 10px;
    color: white;
}

.copy-right {
    height: 30%;
    color: skyblue;
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right a {
    color: white;
}