@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

a.navbar-brand {
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
}

.hero {
  height: calc(100vh - 60px);
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #212529;
  background-blend-mode: multiply;
}
